@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn-primary{
        @apply bg-emerald-600 p-2 text-white hover:bg-emerald-700 active:bg-emerald-800 rounded-md
    }
    .btn-primary-rounded{
        @apply bg-emerald-600 py-2 px-4 text-white font-medium hover:bg-emerald-600 hover:text-white active:bg-emerald-700 active:text-black rounded-3xl
    }
    .btn-primary-outline-rounded{
        @apply border-emerald-500 border-2 py-2 px-4 text-emerald-500 hover:bg-emerald-700 hover:text-white active:bg-emerald-800 rounded-3xl
    }
    .btn-lg{
        @apply bg-emerald-600 p-4 text-white font-medium hover:bg-emerald-700 active:bg-emerald-800 rounded-3xl
    }
    .form-input{
        @apply border-2 border-emerald-400 p-2 rounded-md focus:ring-2 focus:ring-emerald-300 focus:outline-none
    }
    .badge-tag{
        @apply bg-emerald-400 text-white px-2 py-1 rounded-lg
    }
    .btn-small{
        @apply bg-emerald-500 px-2 py-1 text-white text-sm hover:bg-emerald-600 active:bg-emerald-700 rounded-md
    }
    .btn-small-outline{
        @apply border-emerald-500 border-2 px-2 py-1 text-emerald-500 font-medium text-sm hover:bg-emerald-500 hover:text-white active:bg-emerald-600 active:text-black rounded-md
    }
    .icon-text-inline{
        @apply flex items-center gap-1
    }
    .tag{
        @apply bg-slate-100 p-1 rounded-lg ring-1 ring-slate-200 text-slate-600 hover:bg-slate-200 hover:text-blue-600
    }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}